body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bot {
  font-family: 'Roboto';
  text-align: center;
  font-weight: 500px;
  font-size: 18px;
  padding-top: 5px;
  line-height: 3;
}

code {
  font-family: 'Roboto'
}

.heading {
  font-family: 'Roboto';
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.click-card {
  position :relative;
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 2px 8px rgba(221, 175, 175, 0.1);
  background-color: #d3a36d;
  padding-bottom: 10px;
 
}


.card-wrapper {
  padding: 3%;
  columns: 4;

}



.card-wrapper .card{
  margin: 4px auto;
 
}



.image-wrapper {
  background-color: rgb(161, 177, 152);
  height: 300px;
  width: auto;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}



button{
  background-color: rgb(71, 5, 5);
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  
}


