body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bot {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 12px;
  padding-top: 10px;
  line-height: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  font-family: '';
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}

.click-card {
  position :relative;
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 2px 8px rgba(87, 86, 86, 0.1);
  background-color: #FEEFDE;
  padding-bottom: 10px;
 
}


.card-wrapper {
  padding: 2%;
  columns: 5;

}



.card-wrapper .card{
  margin: 4px auto;
 
}



.image-wrapper {
  background-color: rgb(95, 94, 94);
  height: 300px;
  width: auto;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}



button{
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  
}


